/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
codealike.json
public/css/app.css
public/css/vendors.css
public/css/app.css.map
public/hot
public/js
public/js/app.js
public/css/app/css
public/mix-manifest.json
.config
